<%- include('./partials/header.ejs', { bodyClass: 'show' }) %>

<h1><%= tank.name %></h1>

<article>
    <p><strong>Typ:</strong> <%= tank.type %></p>
    <p><strong>Kaliber:</strong> <%= tank.caliber %></p>
    <p><strong>Frakcja:</strong> <%= tank.faction %></p>
</article>

<ul class="action-list">
    <li><a href="/tanks">Back to list</a></li>
    <li><a href="/tanks/<%= tank.id %>/edit">Edit</a></li>
</ul>

<%- include('./partials/footer.ejs') %>
