<%- include('./partials/header.ejs', { bodyClass: 'index' }) %>

<h1>Tank index</h1>

<a href="/tanks/create">Create new</a>

<ul class="index-list">
    <% tanks.forEach(function(model) { %>
        <li>
            <h3><%= model.name %></h3>
            <p>Typ: <%= model.type %> | Kaliber: <%= model.caliber %> | Frakcja: <%= model.faction %></p>
            <ul class="action-list">
                <li><a href="/tanks/<%= model.id %>">Details</a></li>
                <li><a href="/tanks/<%= model.id %>/edit">Edit</a></li>
            </ul>
        </li>
    <% }); %>
</ul>

<%- include('./partials/footer.ejs') %>
